<style>
  .page-title {
    padding: 100px 0;
  }

  .invitation-background {
    position: relative;
    width: 100%;
    height: 45vh;
    background: url("<%= asset_url('home-2.jpg') %>");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Add a semi-transparent black mask behind the background image */
  .invitation-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity (0.3) as needed */
  }

  .invitation-background .container{
    z-index: 1;
  }


  .blog-min{
    font-size: 1.75em;
  }

  .blog-text {
    font-size: 4.60em;
    font-weight: bold;
    color: white;
  }

  .breadcrumb .breadcrumb-item a{
    text-decoration: none;
    font-size: 1.3em;
    color: #4b4545;
  }

  .breadcrumb .breadcrumb-item a.active {
    text-decoration: none;
    font-size: 1.3em;
  }

  .blog-wrap, .blog-item-meta{
    background: #f5f8f9;
  }

  .blog-item-meta{
    display: flex;
    justify-content: space-around;
  }

  .blog-title a{
    color: black;
    text-decoration: none;
    font-size: 1.58rem;
  }

  .blog-para{
    color: gray;
    font-size: 1.2em;
  }

  .btn-main {
    background: #f75757;
    color: #fff;
    transition: all 0.2s ease;
  }

</style>
<div class="invitation-background d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="blog-min" style="color: #f29f37;">Our blogs</span>
          <h1 class="text-capitalize mb-4 blog-text">Latest Blog Articles</h1>
          <div class="text-white d-flex justify-content-center">
            <p style="width: 60%; font-size: 12.5px; font-weight: 300;">
              Discover a world of knowledge within our blogs. Immerse yourself in a treasure trove of informative articles, thought-provoking essays, and practical guides. We're here to empower you with valuable insights and expert advice, making our blog your trusted companion on your journey of learning and exploration.           
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid m-0">
  <div class="row px-4 pt-4 pb-3">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href='<% root_path %>'><i class="fa fa-home" style="margin-right: 5px;"></i>Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href='<% invitation_cards_path %>'>Blogs</a></li>
        </ol>
      </nav>
    </div>
    <% if spree_current_user && spree_current_user.admin? %>
      <div class="col-md-4 d-flex align-items-center justify-content-end">
        <%= link_to blog_list_blog_posts_path, class:"btn px-5", style:"background: #1e396b; color: white; margin-right: 12px;" do %>
          <i class="fa fa-list text-white" style="margin-right: 5px;"></i>Blogs List
        <% end %>
        <%= link_to new_blog_post_path, class:"btn px-5", style:"background: green; color: white;" do %>
          <i class="fa fa-plus" style="margin-right: 5px;"></i>Create
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<section class="section blog-wrap bg-gray py-5">
  <div class="container">
    <div class="row">
      <% @blog_posts.each do |blog_post| %>
        <% @comment_count = Spree::BlogReview.where(spree_blog_post_id: blog_post.id).count %>
        <div class="col-lg-4 col-md-4 mb-5">
          <div class="blog-item shadow-sm">
            <% if blog_post.image.present? %>
              <%= image_tag(blog_post.image, class: "w-100 rounded", height: "200") %>
            <% end %>
            <div class="blog-item-content bg-white p-4 d-flex flex-column justify-content-between" style="height: 30vh;">
              <div>
                <div class="blog-item-meta py-2 mb-3">
                  <span class="text-muted text-capitalize mr-3"><i class="fa fa-star text-warning" style="margin-right: 3px;"></i>4.8 / 5</span>
                  <span class="text-muted text-capitalize mr-3"><i class="fa fa-comment text-primary" style="margin-right: 3px;"></i><%= @comment_count %> Comments</span>
                  <span class="text-muted text-capitalize mr-3"><i class="fa fa-clock text-danger" style="margin-right: 3px;"></i><%= blog_post.updated_at.strftime('%d %B, %Y') %></span>
                </div> 
                <h3 class="mt-3 mb-3 blog-title">
                  <a href="<%= blog_post.url %>">
                    <i class="fa fa-link"></i> <%= blog_post.title %>
                  </a>
                </h3>
                <p class="mb-4 blog-para"><%= blog_post.blog_overview %></p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <a href="<%= blog_post_path(blog_post) %>" class="btn btn-small btn-main" style="margin-right: 5px;">
                  <i class="fa fa-plus text-white" style="margin-right: 3px;"></i>Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div>
  </div>
</section>