<style>
.auth-main-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 6em 2em;
    justify-content: space-between;
}
.text-input input {
    background: transparent;
    border-bottom: 2px solid #1e396b !important;
    outline: none !important;
    border: none;
}
.button-primary{
  background-color: #1e396b;
}
.form_bottom_text{
  font-size: 15px;
  text-align: center;
}
.image_col img {
    padding-left: 50px;
    width: 100%;
}

@media  screen and (max-width: 1023px){
  .auth-main-container {
    width: 100% !important;
}
}
@media  screen and (max-width: 767px){
  .form_col {
    padding: 50px 20px !important;
}
 .image_col img {
     padding-left: 0px !important;
     margin-top: 30px;
}
}
.form_col{
  padding: 60px 30px;
}
.form_logo img{
  height: auto;
  width: 70px;
  line-height: 100px; 
}
.form_title{
  text-align: center;
  padding-bottom: 30px;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}
</style>


<article class="auth-main-container row" id="forgot-password">
<div class="col-lg-6 form_col shadow">
<div class="form_logo text-center pb-4">
<%= image_tag("bookarley-logo.png", alt:"logo") %>
</div>
  <h1 class="form_title">Forgot Password?</h1>

  <%= form_for Spree::User.new, as: :spree_user, url: reset_password_path, html: { class: "auth-form" } do |f| %>
    <div class="auth-form__input-wrapper">
      <div class="text-input">
        <%= f.label :email, "#{t("spree.email")}:" %>
        <%= f.email_field :email, placeholder: 'name@example.com', required: true %>
      </div>
    </div>

    <div class="auth-form__input-wrapper">
      <%= f.button(
        t("spree.reset_password"),
        class: 'button-primary button-primary--full-width',
        name: :commit
      ) %>
    </div>
<div class="form_bottom_text">
    <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.create_a_new_account"), signup_path %>
    </div>
  <% end %>
  </div>
  <div class= "col-lg-6 image_col" >
<%= image_tag("bookarley-form.png", alt:"Image 1", class:"d-block w-100") %>
  </div>
</article>
