<style>
.auth-main-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 2em 2em;
    justify-content: center;
}
.account-summary h2{
  font-size: 24px;
}

.account-summary p{
  font-size: 18px;
}
.button-primary{
  background-color: #1e396b;
}

@media  screen and (max-width: 1023px){
  .auth-main-container {
    width: 100% !important;
}
}

@media screen and (max-width: 499px){
  .account-summary {
    padding: 1rem 0rem;
}
}

.account-summary__profile {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 60px 30px;
    text-align: center;
}

.account-summary__profile p{
  margin-bottom: 20px;
}

.edit-btn {
    padding: 1rem 4rem;
    text-decoration:none;
}
.edit-btn:hover {
    color: white;
}
.logout_btn{
  margin: 0px !important;
  padding: 1rem 3rem;
}

.bottom_btns {
    display: flex;
    justify-content: space-around;
}

.user-image {
    width: 100px;
    height: 100px;
    border: 0.5px solid lightgray;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    margin-bottom: 20px;
    }
.seller_info p {
    font-size: 15px;
    font-weight: 500;
}

.account_btn {
    border: none;
    background: #1e396b;
    padding: 10px 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-style: inherit;
}
.account_btn:hover {
    background: #1e396b;
    color: white;
}
.breadcrumb-item a{
  font-size: 12px;
  color: #1E396B !important;
}
.seller_profile_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.seller_profile_box img {
    width: 150px;
    height: 150px;
}
.profile_edit_btn {
    border: none;
    background: #1e396b;
    padding: 10px 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-style: inherit;
}
.profile_edit_btn:hover {
    background: #1e396b;
    color: white;
    
}
</style>


<article class="auth-main-container row">
<%# user profile layout start %>
<section >
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/seller_information">Seller Information</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-body text-center seller_profile_box">
           <% if spree_current_user&.profile&.attached? %>
                      <%= image_tag request.base_url + url_for(spree_current_user.profile), class:"top_nav_user_img", alt: "...", width: 40 %>
                    <% else %>
                    <%= image_tag('user_profile_icon.png', class: "circle-image") %>
                  <% end %>            
            <h3 class="my-3"> <%= @user.full_name %>  </h5>
            <h5 class="text-muted mb-3"> Role: <%= @user.spree_roles.any? ? @user.spree_roles.first.name : 'Customer' %> </h5>

            <div class="d-flex justify-content-center mb-2">
              <%= link_to seller_information_path, class: 'btn profile_edit_btn' do %>
                Edit
              <% end %>
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-lg-8 seller_info">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.full_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.email %> </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.contact_information %> </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.location %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.gender %></p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date Of Birth</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.date_of_birth %></p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">About</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.bio %></p>
              </div>
            </div>

          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>
<%# user profile layout end %>


<div class="col-lg-6 form_col">
<div class="account-summary">
<% if @orders.present? %>
  <div class="account-summary__orders">
    <h2><%= I18n.t('spree.my_orders') %></h2>
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <dl class="account-order">
          <div class="account-order__detail">
            <dt><%= I18n.t(:number, scope: 'activerecord.attributes.spree/order') %></dt>
            <dd><%= link_to order.number, order_url(order) %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.date') %></dt>
            <dd><%= l order.completed_at.to_date %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.status') %></dt>
            <dd><%= I18n.t("spree.order_state.#{order.state}").titleize %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.payment_state') %></dt>
            <dd><%= I18n.t("spree.payment_states.#{order.payment_state}").titleize if order.payment_state %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.shipment_state') %></dt>
            <dd><%= I18n.t("spree.shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></dd>
          </div>

          <div class="account-order__detail">
            <dt><%= I18n.t('spree.total') %></dt>
            <dd><%= order.display_total %></dd>
          </div>
        </dl>
      <% end %>
    <% else %>
      <p><%= I18n.t('spree.you_have_no_orders_yet') %></p>
    <% end %>
  </div>

  <%= form_with(url: logout_path, method: Devise.sign_out_via, local: true) do %>
    <%= button_tag(t("spree.logout"), class: 'button-primary') %>
  <% end %>
  <%end%>
</div>
</div>
</article>