<style>
  .contact-title{
    font-size: 26px;
    font-weight: 500;
    color: #534f4f;
  }

  .contact-para{
    font-size: 14px;
    color: #0d0c0c;
    font-weight: 200;
    position: relative;
  }

  .contact-para:before{
    content: "";
    position: absolute;
    bottom: -52%;
    left: 5%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #f1a351;
    border-radius: 3px;
  }

  .contact-para:after{
    content: "";
    position: absolute;
    bottom: -52%;
    left: 5%;
    transform: translateX(30px);
    width: 10px;
    height: 3px;
    background-color: #504f93;
    border-radius: 3px;
  }

  .category-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .category-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
  }

  .category-card:hover {
    border-color: #374c7f; 
  }

  .category-card.selected {
    border-color: #374c7f; 
  }

  .feature-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .feature-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
  }

  .feature-card:hover {
    border-color: #374c7f; 
  }

  .feature-card.selected {
    border-color: #374c7f; 
  }

  .custom-font {
    font-size: 13px;
    color: #5b5656;
  }

  .back-next-btn{
    padding: 10px 45px;
    font-size: 15px;
    border-radius: 30px;
    
  }

  .btn-next{
    background: #28a745;
    color: white;
    width: 180px;
  }

  .btn-next:hover{
    background: white;
    color: black;
    border: 1px solid lightgray;
  }

  .btn-back:hover{
    background: white;
    color: black;
    border: 1px solid lightgray;
  }

  .btn-back{
    background: white;
    color: #374c7f;
    border: 1px solid #374c7f;
  }

  .ctg-name{
    font-size: 12px;
    color: #4b4949;
    margin-left: 6px;
  }

  .male-icon{
    font-size: 25px;
    color: #0d7ae4;
  }

  .female-icon{
    font-size: 25px;
    color: #c35468;
  }

  .non-binary-icon{
    font-size: 25px;
    color: purple;
  }

  .feature-btn{
    background: transparent;
    color: #374c7f;
    border: none;
    font-size: 12px;
  }

  .selected-card {
    border: 1px solid #1e396b; 
    background-color: #f0f0f0; 
    cursor: pointer; 
  }

  .md-close-btn{
    background: none;
    border: none;
    font-size: 20px;
  }

  .feature-card div div i{
    font-size: 15px;
  }

  .feature-title{
    font-size: 12px;
  }

  #selectedCardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .display-selected-card{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
  }

  .remove-card {
    position: absolute;
    top: 11px;
    right: 10px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1.7rem;
  }

  .card-registration .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .card-registration .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

</style>

<div class="container-fluid m-0 h-100" style="background: aliceblue;">
  <div class="card-registration">
    <div class="row g-0">
      <div class="col-xl-6 d-flex justify-content-center align-items-center">
        <%= image_tag("seller_img.png", style:"border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 68%;") %>
      </div>
      <div class="col-xl-6 bg-white">
        <div class="container px-5" style="padding-top: 38px;">
          <h1 class="contact-title">Review Details</h1>
          <p class="contact-para px-2">Describe your best product here</p>
          <div class="container" style="margin-top: 50px;">
            <h2 class='mb-4'>Business Information</h2>
            <div class='row'>
              <h4 class='col-4'>
                Name:
              </h4>
              <h4 class='col-8'>
                <%= @business.owner_name %>
              </h4>
              <h4 class='col-4'>
                Email:
              </h4>
              <h4 class='col-8'>
                <%= @business.email %>
              </h4>
              <h4 class='col-4'>
                Phone:
              </h4>
              <h4 class='col-8'>
                <%= @business.phone %>
              </h4>
              <h4 class='col-4'>
                City:
              </h4>
              <h4 class='col-8'>
                <%= @business.city %>
              </h4>
            </div>
            <h2 class='mt-4 mb-4'>Product Information</h2>
            <div class='row'>
              <h4 class='col-4'>
                Title:
              </h4>
              <h4 class='col-8'>
                <%= @product.name %>
              </h4>
              <h4 class='col-4'>
                address:
              </h4>
              <h4 class='col-8'>
                <%= @product.address %>
              </h4>
              <h4 class='col-4'>
                Price:
              </h4>
              <h4 class='col-8'>
                <%= @product.price %>
              </h4>
              <h4 class='col-4'>
                Description:
              </h4>
              <h4 class='col-8'>
                <%= @product.description %>
              </h4>
            </div>
            <h3 style='color: green; margin-top: 30px;'>Note: Your add is under review.</h3>
            <div class='row mt-5'>
              <%= link_to 'Continue', root_path, class: 'btn back-next-btn btn-next mx-auto' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
