<h1>Step 6: Review Information</h1>
<h2>Category:</h2>
<p><%= @business_category %></p>

<h2>Business Details:</h2>
<ul>
  <li><strong>Owner Name:</strong> <%= @business_details %></li>
</ul>

<h2>Package Information:</h2>
<ul>
  <li><strong>Name:</strong> <%= @product_info %></li>
</ul>

<%= form_for :business, url: business_listing_save_business_listing_path do |f| %>
  <%= f.submit "Save" %>
<% end %>
<%= link_to "Back", business_listing_step5_path %>
