<style>
  .contact-title{
    font-size: 26px;
    font-weight: 500;
    color: #534f4f;
  }

  .contact-para{
    font-size: 14px;
    color: #0d0c0c;
    font-weight: 200;
    position: relative;
  }

  .contact-para:before{
    content: "";
    position: absolute;
    bottom: -52%;
    left: 5%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #f1a351;
    border-radius: 3px;
  }

  .contact-para:after{
    content: "";
    position: absolute;
    bottom: -52%;
    left: 5%;
    transform: translateX(30px);
    width: 10px;
    height: 3px;
    background-color: #504f93;
    border-radius: 3px;
  }

  .custom-font {
    font-size: 13px;
    color: #5b5656;
  }

  .back-next-btn{
    padding: 10px 45px;
    font-size: 15px;
    border-radius: 30px;
    
  }

  .btn-next{
    background: #1d3969;
    color: white;
  }

  .btn-next:hover{
    background: white;
    color: black;
    border: 1px solid lightgray;
  }

  .btn-back:hover{
    background: white;
    color: black;
    border: 1px solid lightgray;
  }

  .btn-back{
    background: white;
    color: #374c7f;
    border: 1px solid #374c7f;
  }

  .social-field{
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
  }

  .fb-icon{
    color: blue;
    font-size: 18px;
  }

  .insta-icon{
    color: purple;
    font-size: 18px;
  }
  .template-btn {
      display: inline-block;
      background-color: #ffffff;
      color: #518ecb;
      font-size: 14px;
      line-height: 30px;
      padding: 0px 16px;
      margin: 5px 3px;
      cursor: pointer;
      border-radius: 20px;
      border: 2px solid #518ecb;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }
  .template-btn:hover {
      background-color: #518ecb;
      color: #ffffff;
  }
  .template-img{
    height: 150px;
    width: 150px;
    left: -154px;
    position: absolute;
    top: -100px;
  }
  .card-registration .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .card-registration .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
</style>

<div class="container-fluid m-0 h-100" style="background: aliceblue;">
  <div class="card-registration">
    <div class="row g-0">
      <div class="col-xl-6 d-flex justify-content-center align-items-center">
        <%= image_tag("seller_img.png", style:"border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 68%;") %>
      </div>
      <div class="col-xl-6 bg-white">
        <div class="container px-5" style="padding-top: 38px;">
          <h1 class="contact-title">Product Details</h1>
          <p class="contact-para px-2">Stay in touch with ease</p>
          <div class="container" style="margin-top: 50px;">
              <%= form_for :product, url: business_listing_process_step4_path do |f| %>
                <div class="row mb-5">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="fullname" class="uppercase text-sm text-gray-600 font-bold custom-font">Product Title *</label>
                      <%= f.text_field :name, class:"form-control custom-font", required: true, value: session[:product_name], placeholder: 'Enter Product Title' %>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="fullname" class="uppercase text-sm text-gray-600 font-bold custom-font">Address *</label>
                      <%= f.text_field :address, class:"form-control custom-font", required: true, value: session[:product_address], placeholder: 'Enter Address' %>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="fullname" class="uppercase text-sm text-gray-600 font-bold custom-font">Pin Location *</label>
                      <%= f.text_field :pin_point, class:"form-control custom-font", required: true, value: session[:product_pin_point], placeholder: 'URL of your pin location' %>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="fullname" class="uppercase text-sm text-gray-600 font-bold custom-font">Sub Category *</label>
                      <%= f.select :sub_category_id, options_from_collection_for_select(@taxons, 'id', 'name', session[:product_sub_category_id]),{include_blank: "Please Select sub category"},{class: "form-control chosen-select", required: true} %>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="fullname" class="uppercase text-sm text-gray-600 font-bold custom-font">Description *</label>
                      <%= f.text_area :description, rows: 6, class:"form-control custom-font", required: true, value: session[:product_description], placeholder: 'Enter description for your product.' %>
                    </div>
                  </div>
                  <div class='position-relative'>
                    <%= render partial: 'img' %>
                    <% Spree::Template.all.each do |temp| %>
                      <button type='button' class='template-btn' value="<%= temp.description %>"><%= temp.name %></button>
                    <% end %>
                  </div>
                </div>
                <hr>
                <div class="row mb-5">
                  <h1 class="contact-title">Extra Details</h1>
                  <p class="contact-para px-2">Elaborate More about product</p>
                    <div class="row mb-5">
                      <% if session[:extra_fields].present? %>
                        <% session[:extra_fields].each_with_index do |ef, i| %>
                          <div class="col-lg-6 mt-3">
                            <div class="form-group">
                              <label for="<%= "extra_field_#{i}" %>" class="uppercase text-sm text-gray-600 font-bold custom-font"><%= ef['name'] %></label>
                              <%= text_field_tag "extra_fields[][name]", ef['name'], class: "form-control custom-font d-none" %>
                              <%= text_field_tag "extra_fields[][id]", ef['id'], class: "form-control custom-font d-none" %>
                              <%= text_field_tag "extra_fields[][value]", ef['value'], class: "form-control custom-font", id: "extra_field_#{i}" %>
                            </div>
                          </div>
                        <% end %>
                      <% else %>
                        <% @extra_fields.each_with_index do |ef, i| %>
                          <div class="col-lg-6 mt-3">
                            <div class="form-group">
                              <label for="<%= "extra_field_#{i}" %>" class="uppercase text-sm text-gray-600 font-bold custom-font"><%= ef.name %></label>
                              <%= text_field_tag "extra_fields[][name]", ef.name, class: "form-control custom-font d-none" %>
                              <%= text_field_tag "extra_fields[][id]", ef.id, class: "form-control custom-font d-none" %>
                              <%= text_field_tag "extra_fields[][value]", nil, class: "form-control custom-font", id: "extra_field_#{i}", type: "#{ef.presentation}" %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 50px;">
                  <div>
                    <%= link_to "Back", business_listing_step3_path(back: true), class:"btn back-next-btn btn-back" %>
                  </div>
                  <div>
                    <%= f.submit "Next", class:"btn back-next-btn btn-next" %>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.template-btn').on('click', function(){
      $('#product_description').val($('#product_description').val()+$(this).val())
      $(this).addClass('d-none')
    })
  })
</script>
