<style>
  .product-card {
      position: relative;
      box-shadow: 0px 0 32px rgb(1 41 112 / 8%);
      margin: 50px auto;
      background: #e6e6e6;
      border: 0.5px solid #e2e1e1;
  }
  .product-card:hover {
    transform: scale(1.05) !important;
  }

  .badge {
      position: absolute;
      left: 0;
      top: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      background: #6e6e6e;
      color: #bcfd4c;
      padding: 3px 10px;
  }

  .product-tumb {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      padding: 50px;
      background: white;
  }

  .product-tumb a{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .product-tumb img {
      max-width: 100%;
      max-height: 100%;
  }

  .product-details {
      padding: 30px;
  }

  .product-catagory {
      display: block;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: darkblue;
      margin-bottom: 18px;
  }

  .product-details h4 {
    text-align: center;
    color: black;
  }

  .product-details h4 a {
      font-weight: 500;
      display: block;
      margin-bottom: 18px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s;
      color: #433f3f;
  }

  .product-details h4 a:hover {
      color: #F52544;
  }

  .product-details p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 18px;
      color: white;
  }

  .product-bottom-details {
      overflow: hidden;
      border-top: 1px solid #99ddff;
      padding-top: 20px;
  }

  .product-bottom-details div {
      float: left;
      width: 50%;
  }

  .product-price {
      font-size: 18px;
      color: #433f3f;
      font-weight: 600;
  }

  .product-price small {
      font-size: 80%;
      font-weight: 400;
      text-decoration: line-through;
      display: inline-block;
      margin-right: 5px;
  }

  .product-links {
      text-align: right;
  }

  .product-links a {
      display: inline-block;
      margin-left: 5px;
      color: #f29f37 !important;
      transition: 0.3s;
      font-size: 17px;
  }

  .product-links a:hover {
      color: #F52544;
  }

</style>
<%= render 'hero' %>


<div class="container mb-5 mt-5">
  <% Spree::Taxonomy.all.each do |taxonomy| %>
    <% products_present = false %>
    <% taxonomy.root.taxonomy.taxons.each do |taxon| %>
      <% if taxon.products.any? %>
        <% products_present = true %>
        <% break %>
      <% end %>
    <% end %>
    
    <% if products_present %>
      <div class="row mb-3"><h2 style="font-size: 3em; font-weight: 500;"><%= taxonomy.name %></h2></div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" style="margin-bottom: 80px;">
        <% taxonomy.root.taxonomy.taxons.each do |taxon| %>
          <% taxon.products.each do |product| %>
            <div class="col">
              <div class="product-card">
                <div class="product-tumb">
                  <%= link_to product_path(product), itemprop: 'url' do %>
                    <%= render(ImageComponent.new(image: product.images.first, size: :small, itemprop: "image", class: "card-img-top")) %>
                  <% end %>
                </div>
                <div class="product-details">
                  <h4><a href="<%product_path(product)%>"><%= product.name %></a></h4>
                  <div class="product-bottom-details">
                      <div class="product-price"><%= product.display_price.to_html %></div>
                      <div class="product-links">
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-shopping-cart"></i></a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container d-flex justify-content-center mb-5">
  <%= image_tag("bookarley-logo.png", alt: "Logo", width: 120) %>
</div>