<style>
 .product-padding{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 45px;
  padding-right: 45px;
 }

 .shadow-start {
    box-shadow: 15px 0 0px -15px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  }
.similar_product_img{
  width: 100%;
  height: 200px;
}

.products.title {
    padding-bottom: 0px !important;
    padding-left: 50px !important;
    position: relative;
}

.products.similar_products {
    padding-top: 4rem !important;
}

.products.title h2::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100px;
    background: orange;
    top: auto;
    bottom: -5px;
}
</style>

<% @body_id = 'product-details' %>
<% cache [I18n.locale, current_pricing_options, @product] do %>
    <div class="row shadow m-0" style="padding: 45px;">
      <aside class="col-lg-6 bg-white shadow-start product-padding d-flex justify-content-center align-items-center" style="margin-bottom: 0px; border-left: 15px solid orange;">
        <div class="row w-100">
          <div class="col-md-3">
            <%= render 'product_thumbnails', product: @product %>
          </div>
          <div class="col-md-9">
            <%= render 'product_image', product: @product %>
          </div>
        </div>
      </aside>
      <main class="col-lg-6 bg-white shadow-start product-padding d-flex justify-content-center">
        <div class="ps-lg-3">
          <%= render 'product_header', product: @product %>

          <div class="row mt-4 mb-4">
            <dt class="col-3 mb-2 h4">Stores:</dt>
            <dd class="col-9">
              <% @product.stores.each do |store| %>
                <span class="px-3 py-2 text-dark mr-3 p" style="background: #e0dfdf; border-radius: 10px;"><%= store.name %></span>
              <% end %>
            </dd>

            <dt class="col-3 pt-5">Created at</dt>
            <dd class="col-9 pt-5"><%= @product.created_at %></dd>

            <dt class="col-3 pt-3">Updated at</dt>
            <dd class="col-9 pt-3"><%= @product.updated_at %></dd>

          </div>

          <hr />

          <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-heart fa-lg"></i> Add to Favourites </a>
          <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-phone fa-lg"></i> Call Now </a>
        </div>
      </main>
    </div>
<% end %>

<div class="products title">
<h2>Similar Products</h2>
</div>
<div class="products similar_products">

  <% @similar_products = @product.taxons.where(parent_id: nil).first %>
  <div class="products-grid">
  <% @similar_products.products.each do |similar_product| %>
<div class="card" style="border-radius: 15px;">
    <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
      data-mdb-ripple-color="light">
      
        <%= link_to product_path(similar_product), itemprop: 'url' do %>
           <%= render(ImageComponent.new(image: similar_product.gallery.images.first, size: :small, itemprop: "image", style:"border-top-left-radius: 15px; border-top-right-radius: 15px;", class:"similar_product_img", alt:"Laptop")) %>
        <% end %>
      <a href="#!">
        <div class="mask"></div>
      </a>
    </div>
    <div class="card-body pb-0">
      <div class="d-flex justify-content-between">
        <div>
          <h5><%= similar_product.name  %></h5>
          <div class="d-flex flex-row">
            <div class="dot"></div>
            <div class="mt-1 mb-1 spec-1">
              <% similar_product.stores.each do |store| %>
                <%= store.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-0" />
    <div class="card-body pb-0">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row justify-content-end mt-1 mb-4" style="color: orange;">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h5 class="large text-muted">$ <%= similar_product.price %></h5>
      </div>
    </div>
    <hr class="my-0" />
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
        <svg class="h-6 w-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 20px; width: 20px;">
            <path d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"></path>
        </svg>
        <%= link_to product_path(similar_product), itemprop: 'url', type:"button", class:"btn btn-primary px-4" do %>
          View
        <% end %>  
      </div>
    </div>
  </div> 
  <% end%>
  </div>
  </div>
