<style>
  .auth-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }
  .text-input input {
    background: #e8f0fe;
    border-bottom: 2px solid #1e396b !important;
    outline: none !important;
    border: none;
  }

  .button-primary{
    background-color: #1e396b;
  }
  .form_bottom_text{
    font-size: 15px;
    text-align: center;
  }

  @media  screen and (max-width: 1023px){
    .auth-main-container {
      width: 100% !important;
    }
  }

  @media  screen and (max-width: 767px){
    .form_col {
      padding: 50px 20px !important;
    }
  .image_col img {
      padding-left: 0px !important;
      margin-top: 30px;
    }
  }

  .form_col{
    padding: 70px 30px;
  }

  .image_col img {
    padding-left: 50px;
    width: 75% 
  }

  .form_title{
    text-align: center;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1;
    font-weight: 200;
    color: #37517e;
  }

  .form_logo img{
    height: auto;
    width: 80px;
    line-height: 100px;
  }

  .password-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8f0fe;
  }

  .password-icon {
    cursor: pointer;
    margin-right: 12px;
  }

  .border-field{
    border-bottom: 2px solid #1e396b !important;
  }

  .text-input input{
    border: solid 1px #e8f0fe !important;
  }
  .displayBadge{
    margin-top: 1%; 
    display: none; 
    text-align: center;
    font-size: 12px;
    transition: width 0.8s ease-in-out;
    border-radius: 30px;
   }
   .otp-container {
    display: flex;
    justify-content: center;
  }

  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }

  .text-input input, .password-display, .field-radius{
    border-radius: 30px;
  }

  .otp-text{
    color: gray;
    font-size: 14px;
  }

  .loader {
    animation-duration: 0.3s;
    margin-left: 3px;
  }

/* toggle button  */
.slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 80%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.slide-controls .slide_toggle{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 30px;
  background-color: rgb(242, 159, 55);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#email:checked ~ .slider-tab{
  left: 50%;
}
#email:checked ~ label.email{
  color: #fff;
  cursor: default;
  user-select: none;
}
#email:checked ~ label.phone{
  color: #000;
}
#phone:checked ~ label.email{
  color: #000;
}
#phone:checked ~ label.phone{
  cursor: pointer;
  user-select: none;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none; /* Initially hide error messages */
}
</style>

<article class="auth-main-container row" style="background: aliceblue;" id="new-customer">
      <div class= "col-lg-6 d-flex justify-content-center image_col" >
        <%= image_tag("bookarley-form.png", alt:"Image 1", class:"d-block") %>
      </div>
    <div class="col-lg-6 bg-white form_col">
          <div class="form_logo text-center logo-hide pb-4">
            <%= image_tag("bookarley-logo.png", alt:"logo") %>
          </div>
          <div class="logo-hide">
             <h1 class="form_title">Registration Form</h1>
              <div class="toggle_button text-center">
                <%# toggle button  %>
                  <div class="slide-controls">
                    <input type="radio" name="slide_toggle" class='email_check' id="email" >
                    <input type="radio" name="slide_toggle" class='phone_check' id="phone" checked>
                    <label for="phone" class="slide_toggle phone">Email</label>
                    <label for="email" class="slide_toggle email">Phone</label>
                    <div class="slider-tab"></div>
                  </div>
                <%# toggle end  %>
              </div>
           </div>

        <%= render 'shared/error_messages', target: resource %>

        <%= form_for resource, as: :spree_user, url: registration_path(resource), html: { class: "auth-form" } do |f| %>
        <div class="registration-fields">
                <div class="auth-form__input-wrapper" id= "email_field">
                  <div class="text-input">
                    <%= f.label :email, "#{t("spree.email")}" %>
                    <%= f.email_field :email, placeholder: 'username@example.com', disabled: false, id: 'user_email' %>
                    <span class="error-message" id="email-error-message">Invalid email address</span>
                  </div>
                </div>

                <div class="auth-form__input-wrapper" style="display: none;" id= "phone_number_field">
                    <div class="text-input">
                      <%= f.label :phone_number, "Phone Number" %>
                      <%= f.text_field :phone_number, placeholder: 'Enter Phone number', disabled: true, type: 'tel', id: 'user_phone_number' %>
                      <span class="error-message" id="phone-error-message">Invalid phone number</span>
                    </div>
                </div>

            <div class="auth-form__input-wrapper">
              <div class="text-input">
                <%= f.label :password, "#{t("spree.password")}" %>
                <div class="password-display" >
                  <%= f.password_field :password, class:"PassEntry", id: "password-field", placeholder: "Enter a Password" %>
                  <i class="fas fa-eye-slash password-icon" id="password-toggle"></i>
                </div>
              </div>
              <div>
              <span id="StrengthDisp" class="badge displayBadge">Weak</span>
              </div>
            </div>

            <div class="auth-form__input-wrapper">
              <div class="text-input">
                <%= f.label :password_confirmation, "Password Confirmation" %>
                <div class="password-display">
                  <%= f.password_field :password_confirmation, id: "confirm-field", placeholder: "Re-Enter your Password" %>
                  <i class="fas fa-eye-slash password-icon" id="confirm-toggle"></i>
                </div>
              </div>
            </div>

            <div id= "proceed-button" class= 'button-primary button-primary--full-width d-flex justify-content-center align-items-center field-radius mb-3' style="cursor: pointer;">Proceed</div>
      </div>

      <div id="otp-input"  style="display: none;">
        <div class="form_logo text-center pb-4">
          <%= image_tag("otp-logo.png", alt:"logo") %>
        </div>
        <h1 class="form_title pb-3">OTP Verification</h1>
            <p class="otp-text text-center mb-4">Generating OTP, please wait for <span id="otp-timer">5</span> seconds<span class="loader"><i class="fa fa-spinner fa-spin ml-3"></i></span></p>
          <div class="otp-container">
          <% 6.times do |i| %>
            <%= text_field_tag "otp_code[#{i}]", "", class: 'otp-input-field otp-input', maxlength: 1 %>
          <% end %>
          </div>
        <div class="auth-form__input-wrapper d-flex justify-content-center">
          <%= f.button t("spree.Verfiy"), name: :commit, class: 'sign-up-submit button-primary w-50 field-radius', id:"new_spree_user" %>
        </div>
      </div>
  
      <div class="form_bottom_text">
        <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.login_as_existing"), login_path %>
      </div>
    <% end %>
  </div>
</article>

<script>
    $(document).ready(function() {
      // Add event listener for the Proceed button
          $('#proceed-button').on('click', function() {
            debugger
            // Remove any existing error messages
            $('.error-message').hide();

            // Check whether email or phone number is selected
        if ($(".phone_check").is(":checked")) {
          var email = $('#user_email').val();
          if (!isValidEmail(email)) {
            $('#email-error-message').show(); // Show the error message
            return;
          }
        } 
        else if ($(".email_check").is(":checked")) {
          var phoneNumber = $('#user_phone_number').val();
          if (!isValidPhoneNumber(phoneNumber)) {
            $('#phone-error-message').show(); // Show the error message
            return;
          }
        }

            // Hide the registration fields and show OTP input fields
            $('.logo-hide').hide();
            $('.registration-fields').hide();
            $('#otp-input').show();

            // Initialize the countdown timer
            let countdown = 5;
            const timerElement = $('#otp-timer');

            const timerInterval = setInterval(function() {
              countdown -= 1;
              timerElement.text(countdown);

              if (countdown === 0) {
                clearInterval(timerInterval); // Stop the timer
                timerElement.text(''); // Clear the timer text
                $('.otp-text').text('OTP Code has been generated successfully!');

                // Generate a random 6-digit OTP after 5 seconds
                setTimeout(function() {
                  let otp = '';
                  for (let i = 0; i < 6; i++) {
                    otp += Math.floor(Math.random() * 10); // Generate a random digit (0-9)
                  }

                  $('.otp-input-field').each(function(index) {
                    $(this).val(otp[index]);
                  });
                }, 5000); // 5000 milliseconds (5 seconds)
              }
            }, 1000); // Update every 1 second
      });

      // Email validation function
      function isValidEmail(email) {
        // Regular expression for a valid email address
        var emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
        return emailPattern.test(email);
      }

      // Phone number validation function
      function isValidPhoneNumber(phoneNumber) {
        // Regular expression for a valid phone number (allows only digits)
        var phonePattern = /^[0-9]{11}$/;
        return phonePattern.test(phoneNumber);
      }


    });

</script>

<script>
  $(document).ready(function() {
    $('input[name="slide_toggle"]').change(function() {
      if ($("#email").is(":checked")) {
        $("#email_field").hide().find('input').prop('disabled', true);
        $("#phone_number_field").show().find('input').prop('disabled', false);
      } else {
        $("#email_field").show().find('input').prop('disabled', false);
        $("#phone_number_field").hide().find('input').prop('disabled', true);
      }
    });
  });
</script>

<script>
  $(document).ready(function() {
    let timeout;
    let password = $('.PassEntry');
    let strengthBadge = $('#StrengthDisp');
    let strongPassword = new RegExp('^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).{6,}$');
    let mediumPassword = new RegExp('^(?=.*[a-zA-Z])(?=.*[0-9]).{4,}$');

    $('.sign-up-submit').on('click', function() {
        StrengthChecker(password.val());
    });

    function StrengthChecker(PasswordParameter) {
        if (strongPassword.test(PasswordParameter)) {
            strengthBadge.css({'background-color': 'green','width': '100%'});
            strengthBadge.text('Strong');
        } else if (mediumPassword.test(PasswordParameter)) {
            strengthBadge.css({'background-color': 'blue','width': '60%'});
            strengthBadge.text('Medium');
        } else {
            strengthBadge.css('background-color', 'red');
            strengthBadge.css({'background-color': 'red','width': '30%'});
            strengthBadge.text('Weak');
        }
    }

    password.on("input", function() {
        strengthBadge.css('display', 'block');
        clearTimeout(timeout);
        timeout = setTimeout(function() {
            StrengthChecker(password.val());
        }, 500);
        if (password.val().length !== 0) {
            strengthBadge.css('display', 'block');
        } else {
            strengthBadge.css('display', 'none');
        }
    });  

    const confirmField = document.getElementById("confirm-field");
    const confirmToggle = document.getElementById("confirm-toggle");

    const passwordField = document.getElementById("password-field");
    const passwordToggle = document.getElementById("password-toggle");

    passwordToggle.addEventListener("click", function() {
      if (passwordField.type === "password") {
        passwordField.type = "text";
        passwordToggle.classList.remove("fa-eye-slash");
        passwordToggle.classList.add("fa-eye");
      } else {
        passwordField.type = "password";
        passwordToggle.classList.remove("fa-eye");
        passwordToggle.classList.add("fa-eye-slash");
      }
    });

    confirmToggle.addEventListener("click", function() {
      if (confirmField.type === "password") {
        confirmField.type = "text";
        confirmToggle.classList.remove("fa-eye-slash");
        confirmToggle.classList.add("fa-eye");
      } else {
        confirmField.type = "password";
        confirmToggle.classList.remove("fa-eye");
        confirmToggle.classList.add("fa-eye-slash");
      }
    });
  });
</script>

<script>


$(document).ready(function() {

  $('#create-button').on('click', function() {
    // Submit the form
    $('form#new_spree_user').submit();
  });
});

</script>
