<style>
.auth-main-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 6em 2em;
    justify-content: space-between;
}
.text-input input {
    background: transparent;
    border-bottom: 2px solid #1e396b !important;
    outline: none !important;
    border: none;
}
.button-primary{
  background-color: #1e396b;
}
.form_bottom_text{
  font-size: 15px;
  text-align: center;
}

@media  screen and (max-width: 1023px){
  .auth-main-container {
    width: 100% !important;
}
}
@media  screen and (max-width: 767px){
  .form_col {
    padding: 50px 20px !important;
}
 .image_col img {
     padding-left: 0px !important;
     margin-top: 30px;
}
}

.form_col{
  padding: 60px 30px;
}
.image_col img {
    padding-left: 50px;
    width: 100% 
}

.form_title{
  text-align: center;
  padding-bottom: 30px;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}
.form_logo img{
  height: auto;
  width: 70px;
  line-height: 100px;
}

.error-message{
color: red;
font-size: 12px;
}
</style>

<article class="auth-main-container row" id="new-customer">
<div class="col-lg-6 form_col shadow">
<div class="form_logo text-center pb-4">
<%= image_tag("bookarley-logo.png", alt:"logo") %>
</div>
  <h1 class="form_title">Registration Form</h1>

  <%= render 'shared/error_messages', target: resource %>

  <%= form_for resource, as: :spree_user, url: registration_path(resource), html: { class: "auth-form" } do |f| %>
    <div class="auth-form__input-wrapper">
      <div class="text-input">
        <%= f.label :email, "#{t("spree.email")}:" %>
        <%= f.email_field :email, placeholder: 'name@example.com' %>
      </div>
    </div>

    <div class="auth-form__input-wrapper">
        <div class="text-input">
          <%= f.label :password, "#{t("spree.password")}:" %>
          <%= f.password_field :password, placeholder: "Enter Password" %>
        </div>
        <div class="error-message" id="password-error" style="display: none;">
          Password must be at least 6 characters long and contain at least 1 alphabet and special character.
        </div>
    </div>

    <div class="auth-form__input-wrapper">
      <div class="text-input">
        <%= f.label :password_confirmation, "#{t("spree.confirm_password")}:" %>
        <%= f.password_field :password_confirmation, placeholder: "Enter Confirm Password" %>
      </div>
    </div>

    <div class="auth-form__input-wrapper">
      <%= f.button t("spree.create"), name: :commit, class: 'button-primary button-primary--full-width sign-up-submit' %>
    </div>
<div class="form_bottom_text">
    <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.login_as_existing"), login_path %>
    </div>
  <% end %>
  </div>

<div class= "col-lg-6 image_col" >
<%= image_tag("bookarley-form.png", alt:"Image 1", class:"d-block") %>
  </div>


</article>

<script>
  $(document).ready(function() {
    $('.sign-up-submit').on('click', function(e){
      var $passwordInput = $('#spree_user_password');
      var $passwordError = $('#password-error');
  
        var password = $passwordInput.val();
  
        // Check if the password meets the criteria
        var isValid = /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*(),.?":{}|<>]).{6,}$/.test(password);
  
        // Show/hide the error message based on validation result
        if (isValid) {
          $passwordError.hide();
        } else {
          $passwordError.show();
          e.preventDefault()
        }
    })
  });
</script>