<style>
  .auth-main-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      justify-content: space-between;
  }

  .button-primary{
    background-color: #1e396b;
  }
  .form_bottom_text{
    font-size: 15px;
    text-align: center;
  }

  @media  screen and (max-width: 1023px){
    .auth-main-container {
      width: 100% !important;
    }
  }
  @media  screen and (max-width: 767px){
    .form_col {
      padding: 50px 20px !important;
    }
    .image_col img {
      padding-left: 0px !important;
      margin-top: 30px;
    }
  }
  .form_col{
    padding: 60px 30px;
  }
  .image_col img {
    padding-left: 50px;
    width: 75%;
  }

  .form_title{
    text-align: center;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1;
    font-weight: 200;
    color: #37517e;
  }

  .form_logo img{
    height: auto;
    width: 80px;
    line-height: 100px;
  }

  input#spree_user_remember_me {
    height: 17px;
    width: 17px;
  }

  .select_box label{
    font-size: 12px;
    margin-left: 6px;
  }

  .password-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8f0fe;
  }

  #password-toggle {
    cursor: pointer;
    margin-right: 12px;
  }

  .border-field{
    border-bottom: 2px solid #1e396b !important;
  }

  .text-input input{
    border: solid 1px #e8f0fe !important;
  }

  .text-input input, .password-display, .field-radius{
    border-radius: 30px;
  }

</style>


<% @body_id = 'login' %>

<article class="auth-main-container row"  style="background: aliceblue;" id="existing-customer">
  <div class= "col-lg-6 d-flex justify-content-center image_col">
    <%= image_tag("bookarley-form.png", alt:"Image 1", class:"d-block") %>
  </div>
  <div class="col-lg-6 bg-white form_col">
    <div class="form_logo text-center pb-4">
      <%= image_tag("bookarley-logo.png", alt:"logo") %>
    </div>
    <h1 class="form_title">Login Form</h1>

    <%= form_for Spree::User.new, as: :spree_user, url: create_new_session_path, html: { class: "auth-form" } do |f| %>
      <div class="auth-form__input-wrapper">
        <div class="text-input">
          <%= f.label :email, "#{t("spree.email")}:" %>
          <%= f.email_field :email, placeholder: 'username@example.com', autocomplete: 'off', required: true %>
        </div>
      </div>

      <div class="auth-form__input-wrapper password-input">
        <div class="text-input">
          <%= f.label :password, "#{t("spree.password")}:" %>
          <div class="password-display">
            <%= f.password_field :password, id: "password-field", placeholder: "Enter your Password", autocomplete: 'off', required: true %>
            <i class="fas fa-eye-slash" id="password-toggle"></i>
          </div>
        </div>
      </div>

      <div class="auth-form__input-wrapper select_box d-flex">
        <%= f.check_box :remember_me, tabindex: 3 %>
        <%= f.label :remember_me, I18n.t("spree.remember_me") %>
      </div>

      <div class="auth-form__input-wrapper">
        <%= f.button(
          t("spree.login"),
          class: 'button-primary button-primary--full-width field-radius',
          name: :commit
        ) %>
      </div>
      <div class="form_bottom_text">
        <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.create_a_new_account"), signup_path %> | <%= link_to I18n.t("spree.forgot_password"), recover_password_path %>
      </div>
    <% end %>
  </div>
</article>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const passwordField = document.getElementById("password-field");
    const passwordToggle = document.getElementById("password-toggle");

    passwordToggle.addEventListener("click", function() {
      if (passwordField.type === "password") {
        passwordField.type = "text";
        passwordToggle.classList.remove("fa-eye-slash");
        passwordToggle.classList.add("fa-eye");
      } else {
        passwordField.type = "password";
        passwordToggle.classList.remove("fa-eye");
        passwordToggle.classList.add("fa-eye-slash");
      }
    });
  });
</script>



