<style>
  .dropdown-menu-width {
    width: 91%;
    margin-left: 20px;
  }

  .circle-image {
    width: 40px;
    height: 40px;
    border: 0.5px solid lightgray;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  .all-cat-dropdown{
    margin-bottom: -5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 20px;
    background: white;
    width: 300px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    font-weight: bold;
  }
  .dropdown-toggle::after {
    display: none;
  }

  .all-ctg-text{
    float: left;
    color: black;
    font-weight: 500;
    margin-left: 25px;
    font-size: 1.3rem;
  }

  .ctg-list-text{
    color: black;
    font-weight: 500;
    margin-left: 25px;
    font-size: 1.35rem;
  }

  .all-ctg-icon{
    float: right;
    color: black;
    margin-top: 6px;
    margin-right: 11px;
  }

  .navbar-nav .nav-gap {
    margin-right: 5px;
  }

  /* Dropdown Button */
  .dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
  }

  .taxonomy-link:hover{
    background: #ECEEF2;
    border-left: 8px solid #F29F37;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
  }

  .show {display:block;}

  .custom-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-unique {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
    top: 38px;
    cursor: pointer;
  }
  
  .custom-dropdown:hover .dropdown-content-unique {
    display: block;
  }

  .profile-dropdown{
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  /* Dropdown container */
  .taxonomy-dropdown {
    position: relative;
    display: inline-block;
  }

 .taxonomy-dropdown a {
    text-decoration: none;
    color: white;
}
  .taxonomy-name{
    cursor: pointer;
  }
  /* Dropdown content */
  .taxonomy-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 600px; /* Adjust width as needed */
  }
  .taxonomy-dropdown-content a {
    color: black;
}

  /* Show dropdown content on hover */
  .taxonomy-dropdown:hover .taxonomy-dropdown-content {
    display: block;
    border-bottom: 10px solid #F29F37;
  }
.taxonomy-name:hover{
    border-bottom: 2px solid #F29F37;
  }
  /* Style parent taxon */
  .parent-taxon {
    padding: 10px;
    color: #1e396b;
    font-size: 1.1em;
  }
  
 .taxonomy-dropdown-all .child-taxons a {
    padding: 0px 16px;
}
  /* Style child taxons */
  .child-taxons-name {
    color: #4f4d4d;
    font-weight: 300;
    font-size: 0.9em;
  }

  .child-taxons-name:hover{
    color: #1e396b;
    cursor: pointer;
  }

  .child-taxons span {
    display: block;
  }

  .taxonomy-dropdown-all {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 100%;
    margin-top: -15%;
    width: 600px; /* Adjust width as needed */
  }

  /* Show dropdown content on hover */
  .dropdown-wrapper:hover .taxonomy-dropdown-all {
    display: block;
    border-bottom: 10px solid #F29F37;
  }

.parent-taxon .taxon_name a{
  padding: 0px 16px;
}


.social_login .social_box {
	display: block;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	background: #F4F4F2;
	overflow: hidden;
}

.social_login .icon {
	display: block;
	width: 36px;
	padding: 5px 10px;
	margin-right: 10px;
	float: left;
	color: #FFF;
	font-size: 16px;
	text-align: center;
}

.social_login .fb .icon {
	background: #3B5998;
}

.social_login .google .icon {
	background: #DD4B39;
}

.social_login .icon_title {
	display: block;
	padding: 5px 0;
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #777;
}

.social_login .social_box:hover {
	background: #E4E4E2;
}

.centeredText {
	text-align: center;
	margin: 20px 0;
	clear: both;
	overflow: hidden;
	text-transform: uppercase;
  font-size: 1.1em;
  color: dimgray;
}

.action_btns {
	clear: both;
	overflow: hidden;
  padding-bottom: 12px;
}

.action_btns a {
	display: block;
  font-size: 1.2em;
  text-decoration: none;
  color: darkslategrey;
  text-align: center;
}

a.btn_red {
	color: #FFF;
}

.one_half {
	width: 50%;
	display: block;
	float: left;
  background: #f4f4f2;
}

.one_half.last {
	width: 45%;
	margin-left: 5%;
}

.modal{
  --bs-modal-width: 350px !important;
}
.login-text-style{
  font-size: 15px; 
  font-weight: 500; 
  padding: 2px;
  color: #1e396b;
}

.register-profile-dropdown {
    position: relative;
    display: inline-block;
}

.register-profile-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 9;
}

.register-profile-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.register-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    right: 0;
    width: 200px;
    padding-top: 20px;
}

.register-dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.register-dropdown-content a:hover {
    background-color: #ddd;
    border-left: 8px solid #F29F37;
    
}
.profile-icons{
  margin-right: 3px;
}
</style>

<nav class="navbar navbar-expand-sm navbar-light bg-white py-3 px-5 fixed-top" style="z-index: 100;">
  <div class="container-fluid">
      <%= link_to root_path do %>
        <a href="/" class="navbar-brand"><%= image_tag("bookarley-logo.png", alt: "Logo", width: 60) %></a>
      <% end %>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <%= render 'shared/search/search_bar', class:"mx-auto", taxons: taxons, taxon: taxon %>
          <div class="navbar-nav">
          <% if spree_current_user %>
            <div class="btn-group d-flex justify-content-center align-items-center" style="cursor: pointer;" id="profile-section">
                <%= image_tag('bookarley-logo.png', class: "circle-image") %>
                <div>
                  <i class="fa fa-angle-down" style="padding-left: 5px; font-size: 1.2em;"></i>
                </div>
            </div>
            
            <div class="register-profile-dropdown">
                <div class="register-dropdown-content shadow" id="registerDropdownContent">
                  <div class="d-flex justify-content-center">
                    <div><%= image_tag('bookarley-logo.png', class: "circle-image") %></div>
                  </div>
                  <div class="d-flex justify-content-center" style="font-size: 1.3em; padding: 3px; color: #1e396b; font-weight: 400;">
                    <div><%= spree_current_user.email %></div>
                  </div>
                  <hr style="color: #b5b1b1;">
                  <%= link_to raw('<i class="fas fa-user profile-icons"></i> ' + I18n.t('my_account')), account_path, class: 'text-dark my-3', style: "font-size: 1.1em;" %>
                  <%= link_to raw('<i class="fas fa-cogs profile-icons"></i> Admin Dashboard'), "admin/orders", class: 'text-dark mb-3', style: "font-size: 1.1em;" %>
                  <%= link_to raw('<i class="fas fa-sign-out-alt profile-icons"></i> ' + I18n.t('spree.logout')), destroy_spree_user_session_path, method: :delete, class: 'text-danger mb-3', style: "font-size: 1.1em;" %>  
                </div>
            </div>
          <% else %>
            <div class="btn-group d-flex justify-content-center align-items-center" style="cursor: pointer;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <%= image_tag('bookarley-logo.png', class: "circle-image") %>
                <div>
                  <i class="fa fa-angle-down" style="padding-left: 5px; font-size: 1.2em;"></i>
                </div>
            </div>
          <% end %>  
          </div>
      </div>
  </div>
  
</nav>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-2" style="z-index: 2; margin-top: 73px; background: #1e396b;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Example Dropdown -->
            <div class="dropdown">
                <!-- Dropdown Toggle Button -->
                <button class="btn btn-light text-dark dropdown-toggle all-cat-dropdown dropbtn" onclick="ctgDropDown()">
                    <span class="all-ctg-text" onclick="ctgDropDown()">All Categories</span><i class="fas fa-chevron-down all-ctg-icon"></i>
                </button>

                <!-- Dropdown Menu -->
                <div class="dropdown-menu dropdown-content dropdown-menu-width" style="border: none;" id="myDropdown">
                    <% Spree::Taxonomy.all.each do |taxonomy| %>
                      <div class="dropdown-wrapper">
                       <% taxonomy_permalink = taxonomy.taxons.where(name: taxonomy.name)&.first&.permalink%>
                        <%= link_to "/t/#{taxonomy_permalink}", class: "taxonomy-link" do %>
                          <% if taxonomy.icon.attached? %>
                            <%= render(ImageComponent.new(image: taxonomy.icon, size: :small, itemprop: "image", style: "width: 20px;")) %>
                          <% end %>
                          <span style="margin-left: 8px; color: #3f3b3b;"><%= taxonomy.name %></span>
                        <%end%>
                        
                        <% parent_taxons = taxonomy.root.children %>
                        <% if parent_taxons.any? %>
                        <div class="taxonomy-dropdown-all shadow py-2 px-4" style="border-radius: 5px;">
                          <div class="parent-taxon row">
                            <div class="col-lg-8">
                              <div class="row">
                                <% taxonomy.root.children.each do |parent_taxon| %>
                                  <div class="col-md-5 taxon_name">
                                  <% parent_permalink = parent_taxon&.permalink%>
                                    <%= link_to "/t/#{parent_permalink}", style:"color: #1e396b;" do %>
                                      <%= parent_taxon.name %>
                                    <%end%>
                                    <div class="child-taxons">
                                      <% parent_taxon.children.each do |child_taxon| %>
                                      <%child_permalink = child_taxon&.permalink%>
                                      <%= link_to "/t/#{child_permalink}" do %>
                                        <span class="child-taxons-name my-2"><%= child_taxon.name %></span>
                                        <%end%>
                                      <% end %>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            <div class="col-lg-4 d-flex justify-content-center align-items-center">  
                              <% if taxonomy.icon.attached? %>
                                <%= render(ImageComponent.new(image: taxonomy.icon, size: :small, itemprop: "image", style: "width: 120px;")) %>
                              <% end %>
                            </div>  
                          </div>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                </div>
            </div>

            <div class="navbar-nav" style="margin-left: 7px;">
              <% Spree::Taxonomy.all.each do |taxonomy| %>
                <div class="nav-item nav-link nav-gap ctg-list-text active taxonomy-dropdown">
                <% taxonomy_permalink = taxonomy.taxons.where(name: taxonomy.name)&.first&.permalink%>
                        <%= link_to "/t/#{taxonomy_permalink}" do %>
                  <span class="taxonomy-name"><%= taxonomy.name %></span>
                  <%end%>
                  <% parent_taxons = taxonomy.root.children %>
                  <% if parent_taxons.any? %>
                    <div class="taxonomy-dropdown-content shadow py-2 px-4 mt-2" style="border-radius: 2px;">
                      <div class="parent-taxon row">
                        <div class="col-lg-8">
                          <div class="row">
                            <% taxonomy.root.children.each do |parent_taxon| %>
                              <div class="col-md-5">
                              <% parent_permalink = parent_taxon&.permalink%>
                                <%= link_to "/t/#{parent_permalink}", style:"color: #1e396b;" do %>
                                  <%= parent_taxon.name %>
                                <%end%>
                                <div class="child-taxons">
                                  <% parent_taxon.children.each do |child_taxon| %>
                                  <%child_permalink = child_taxon&.permalink%>
                                  <%= link_to "/t/#{child_permalink}" do %>
                                    <span class="child-taxons-name my-2"><%= child_taxon.name %></span>
                                    <%end%>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center align-items-center">  
                          <% if taxonomy.icon.attached? %>
                            <%= render(ImageComponent.new(image: taxonomy.icon, size: :small, itemprop: "image", style: "width: 120px;")) %>
                          <% end %>
                        </div>  
                      </div>
                    </div>
                  <% end %>  
                </div>
              <% end %>
            </div>
        </div>
        <div class="navbar-nav" style="margin-right: 26px">
          <button class="px-5 py-3 seller-btn btn btn-lg" type="button">Become a Seller</button>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #f29f37;">
        <h5 class="modal-title login-text-style" id="exampleModalLabel">LOGIN</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center py-3">
          <%= image_tag("bookarley-logo.png", alt: "Logo", width: 80) %>
        </div>
        <div class="social_login">
            <div class="">
                <a href="#" type="button" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connect with Facebook</span>
                </a>

                <a href="#" type="button" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>OR USE YOUR EMAIL ADDRESS</span>
            </div>

            <div class="action_btns">
                <div class="one_half py-2"><%= link_to I18n.t('spree.login'), login_path, class:"py-2" %></div>
                <div class="one_half last py-2"><%= link_to "Sign up", signup_path, class:"py-2" %></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function ctgDropDown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  

</script>

<script>
$(document).ready(function() {
    $("#profile-section").click(function() {
        $(".register-dropdown-content").toggle();
    });

    $(document).click(function(event) {
        if (!$(event.target).closest(".btn-group, .register-dropdown-content").length) {
            $(".register-dropdown-content").hide();
        }
    });
});

</script>