<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
  <style>
  
  .flash-container div {
    text-align: left;
    position: relative;
}
span.close-flash {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: baseline;
    color: white;
    font-weight: 500 !important;
    font-size: 20px;
}
.display_none{
  display: none;
}
.flash-container .flash.notice{
    margin-top: 50px !important;
    padding-right: 50px !important;
}

  </style>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'solidus_starter_frontend' %>
    <%= stylesheet_link_tag 'solidus_starter_frontend', media: 'screen' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=FontName">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>


    <%= javascript_importmap_tags %>

    <%= favicon_link_tag image_path("bookarley-logo.png") %>

    <%= yield :head %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-turbo="false">
    <%= render 'layouts/header', taxons: @taxons, taxon: @taxon %>
   <div class="flash-container">
  <%= flash_messages %>
  <span class="close-flash" onclick="closeFlashMessage(this)"><i class="fa fa-times"></i></span>
</div>
    <%# <%= render BreadcrumbsComponent.new(@taxon) %>
    <% if request.path.start_with?('/t') || request.path.start_with?('/products') %>
      <main style="background: #f3f2f0;">
        <%= yield %>
      </main>
    <% else %>
      <main>
        <%= yield %>
      </main>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>


<script>
function closeFlashMessage(button) {
  const flashMessage = button.closest('.flash-container');
  flashMessage.remove();
}
</script>

</html>